.b-main-title {
  position: relative;
  width: 780px;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  h1 {
    position: relative;
    display: inline-block;
    margin-top: 47px;
    font-size: $font-XXXL;
    z-index: 99;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      display: inline-block;
      width: 100%;
      height: 10px;
      background-color: $color-3;
      z-index: -1;
    }
    
  }
  p { font-size: $font-M; }
}