.b-subscribe {
  @extend %clearfix;
  width: 1000px;
  margin-top: 37px;
  padding: 10px 0;
  border: 1px solid #e6e6e6;
  .mail-icon {
    margin-top: 11px;
    margin-left: 25px;
    margin-right: 0;
  }
  form {
    margin-top: 11px;
    input, button {
      color: $color-font-main;
      border-radius: 0;
    }
    .form-control {
      width: 271px;
      height: 44px;
      margin-left: 55px;
      border: 1px solid #b3b3b3;
    }
    button {
      width: 160px;
      height: 44px;
      margin-left: 14px;
      font-weight: $font-weight-bold;
      border: none;
      background-color: $color-3;
      &:hover {
        background-color: $color-3;
      }
    }
  }
  .form {
    .navbar-text {
      margin-top: 10px;
      font-size: $font-L;
      line-height: 16px;
      span {
        font-size: $font-M;
      }
    }
  }
  .success {
    display: none;
  }
  .error {
    display: none;
  }
}