@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaRegular.eot");
  src: url("/fonts/HelveticaRegular.woff") format("woff"), 
    url("/fonts/HelveticaRegular.ttf") format("truetype"), 
    url("/fonts/HelveticaRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaBold.eot");
  src: url("/fonts/HelveticaBold.woff") format("woff"), 
    url("/fonts/HelveticaBold.ttf") format("truetype"), 
    url("/fonts/HelveticaBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaLight.eot");
  src: url("/fonts/HelveticaLight.woff") format("woff"), 
    url("/fonts/HelveticaLight.ttf") format("truetype"), 
    url("/fonts/HelveticaLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}



