.b-how-to-be {
  margin-top: 65px;
  article { 
    border-bottom: 1px dashed $color-font-2;
    padding-bottom: 17px;
    font-size: $font-M;
    @extend %clearfix; 
    &:first-of-type {
      margin-top: 22px;
      padding-top: 3px;
      padding-bottom: 18px;
      border-top: 1px dashed $color-font-2;
    }
    &:nth-of-type(5) { padding-bottom: 19px; }
    p { letter-spacing: .3px; }
  }
  h1 { 
    font-size: $font-XXl; 
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  h2 {
    font-size: $font-XL;
  }
  .content {
    float: left;
    width: 743px;
  }
  .download {
    float: right;
    margin-top: 23px;
    margin-right: 3px;
  }
}